<div class="container-fluid">
	<div class="col-md-6 align-div">
		<div class="row">
			<%unless @user_ip.nil?%>
				<img class="flag flag-#{@user_ip.country_code2.downcase}"  />
				<%=  @user_ip.country%>
			<% end %>
			<h4>Enter your URL to shortening url</h4>
		</div>
		<div class="row">
			<div id="error_explanation"></div>
			<%= render 'form' %>
		</div>
		<br/>
		<div class="row" id="shortenedurl"></div>
	</div>
	<div class="col-md-6" id="top-sites"></div>
</div>

