<div class="container-fluid">
	<h1> </h1>
	<div class="col-md-6 align-div">
		<div class="row">
			<h4>Enter your URL to shortening url</h4>
		</div>
		<div class="row">
			<%= render 'form' %>
		</div>
	</div>
	<div class="col-md-6" id="top-sites"></div>
</div>
<script type="text/javascript">
	$.ajax({
	    url: "/urlmappers",
	    cache: false,
	    success: function(html){
	      $("#top-sites").append(html);
	    }
	});
</script>

