<div class="container-fluid">
	<div class="col-md-6">
		<div class="row">
			<h3>New Tinify Page</h3>
		</div>
		<div class="row">
			<%= render 'form' %>
		</div>
	</div>
	<div class="col-md-6" id="top-sites">
		<%#= render :url=>"/urlmappers", :remote => true %>
		<%#= link_to 'Top 100 Sites', urlmappers_path %>
	</div>
</div>
<script type="text/javascript">
	$.ajax({
	    url: "/urlmappers",
	    cache: false,
	    success: function(html){
	      $("#top-sites").append(html);
	    }
	});
</script>

