<div class="container">
	<div class="row">
		<div class="col-md-6">
	  		<a target="_blank" href="<%= host_uri+@urlmapper.tiny_url%>"><%= host_uri+@urlmapper.tiny_url%></a>
	  	</div>
	  	<%= link_to 'Back', new_urlmapper_path %>
	</div>
</div>